* {
    font-family: Tahoma, Verdana, Helvetica, sans-serif;
}

header {
    width: 989px;
    margin: 0 auto 0 auto;
}

header div#top-header {
    background-color: #76808d;
    border-bottom: 1px solid white;
}

header div#top-header img {
    display: block;
}

header div#banner img {
    display: block;
}

nav.menu {
    background-color: #8c96a3;
}

nav.menu ul {
    list-style-type: none;
    overflow: hidden;
}

nav.menu ul li {
    display: inline-block;
    float: left;
    vertical-align: middle;
    border-right: 1px dotted white;
    color: white;
    font-weight: bold;
}

nav.menu ul li a {
    text-decoration: none;
    color: white;
}

nav.menu ul li a:hover {
    color: darkred;
}


body #path div {
    display: inline-block;
    color: white;
    font-weight: bold;
}


footer#foot a {
    color: black;
    text-decoration: none;
}

footer#foot a:hover {
    text-decoration: underline;
}


body #contents div.window {
    border: 1px solid darkgray;
    background-color: lightgray;
    border-radius: 8px 8px 0 0 / 8px 8px 0 0;
}

body #contents div.window div.title {
    color: #404040;
}

body #contents div.window div.contents {
    background-color: #dddddd;
}

body div.modal-wnd-background {
    display: none;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100vw;
    height: 100vh;
    background-color: rgba(77, 77, 77, 0.5);
}