body #contents #map-window {
    width: 580px;
    float: left;
}

body #contents #see-also-window {
    width: 350px;
    float: right;
}

body #contents #candidates-summary-window {
    width: 350px;
    float: right;
}

body #contents #province-window {
    width: 955px;
    float: left;
    clear: both;
}

body #contents #municipality-window {
    width: 955px;
    float: left;
    clear: both;
}

body #contents #map-window #map-header {

    font-size: 14px;

    padding: 6px 8px 4px;
}

body #contents #map-window #map-desc {
    float: right;
    width: 220px;
}

body #contents #map-window #map-desc table {
    width: auto;
}

body #contents #map-window #map-desc table tr td {
    padding: 4px 8px 4px 4px;
    font-size: 14px;
}

body #contents #map-window #map-desc table tr:last-child td {
    border-bottom: 0;
}

body #contents #map-image {
    float: left;
    overflow: hidden;
    width: 350px;
}

body #contents #map-image svg {
    margin: 24px auto 24px auto;
}

body #contents #map-color-scale {
    clear: both;
    width: auto;
}

body #contents #map-color-scale > div > div {
    width: 100%;
    float: left;
    clear: both;
}

body #contents #map-color-scale div div.joined {
    height: 32px;
    padding: 0;
    margin: 0;
}

body #contents #map-color-scale div div.separate {
    height: 16px;
    padding: 0;
    margin: 0;
}

body #contents #map-color-scale div div.desc {
    padding: 2px 0 1px 0;
    font-size: 12px;
}


#map-image svg g svg {
    width: 612px;
    height: 577px;
}

body #contents #province-window table .lp_col {
    width: 40px;
}

body #contents #province-window table .name_col {
    width: 200px;
}

body #contents #province-window table .sum_col {
    width: 120px;
}

body #contents #province-window table .no_col {
    width: 110px;
}

body #contents #province-window table .prop_col {
    width: 60px;
}

body #contents #province-window table .vis_col {
    width: 250px;
}

body #contents #province-window table thead th {
    padding: 4px 0;
}

body #contents #province-window table tbody td {
    padding: 4px 4px;
}

body #contents #province-window table tfoot td {
    padding: 4px 4px;
}


body #contents #municipality-window table .lp_col {
    width: 40px;
}

body #contents #municipality-window table .name_col {
    width: 200px;
}

body #contents #municipality-window table .sum_col {
    width: 120px;
}

body #contents #municipality-window table .no_col {
    width: 110px;
}

body #contents #municipality-window table .prop_col {
    width: 60px;
}

body #contents #municipality-window table .vis_col {
    width: 250px;
}

body #contents #municipality-window table thead th {
    padding: 4px 0;
}

body #contents #municipality-window table tbody td {
    padding: 4px 4px;
}
